<section id="about">
    <div class="row">
        <img src="../../assets/images/stills/about-one.jpg" alt="About" class="object-fit-cover col"/>
        <div class="col">
            <div class="container">
                <h3>The Client</h3>
                <div class="p-4 border-start border-black ">
                    <p class="">
                        Hamlin Hamlin & McGill is an elite law firm designed for speed, performance and results. 
                        They have the ressources required to handle the most complex legal issues. Powered by more than 25 years
                         of experience, hundreds of cases won and multiple awards, HHM is positioned as the optimal
                         solution for serious clients seeking for a smart and ultra-efficient service, timely delivered.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-6">
        <div class="container">
            <h3>The Client</h3>
            <div class="p-4 border-start border-black ">
                <p class="">
                    Hamlin Hamlin & McGill is an elite law firm designed for speed, performance and results. 
                    They have the ressources required to handle the most complex legal issues. Powered by more than 25 years
                     of experience, hundreds of cases won and multiple awards, HHM is positioned as the optimal
                     solution for serious clients seeking for a smart and ultra-efficient service, timely delivered.
                </p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <img src="../../assets/images/stills/about-two.webp" alt="About" class="object-fit-cover"/>
    </div>
</div>
</section>