<div class="hero-container">
    <div class="overlay"></div>
    <div class="hero-image"></div>
    <div class="off-image">
        <div class="off-image-left">
            <p>Chuck McGill</p>
            <p>Senior Partner</p>
        </div>
        <div class="off-image-right">
            <p>Howard Hamlin</p>
            <p>CEO</p>
        </div>
    </div>
    <div class="hero-title">
        <p class="hero-title-left">We defend</p>
        <p class="hero-title-right">your rights</p>
    </div>
    <div class="hero-footer">
        <img src="../../assets/images/awards/BestLawyers.png" alt="BestLawyers">
        <img src="../../assets/images/awards/forbes.webp" alt="Forbes"/>
        <img src="../../assets/images/awards/SuperLawyers.png" alt="SuperLawyers"/>
        <img src="../../assets/images/awards/StateBar.webp" alt="StateBar"/>
        <img src="../../assets/images/awards/NewYorkTImes.png" alt="NewYorkTImes"/>
        <img src="../../assets/images/awards/NTL.webp" alt="NTL"/>
    </div>
</div>