<section id="contact">
    <div class="container contact-container text-white w-50 p-4 font-bangla">
        <h3>Get your free consultation</h3>
        <p>Let us know about your legal issues</p>
        <form class="row" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <label class="col-lg-6 position-relative">
                <input class="w-100" placeholder="First Name" formControlName="firstName" type="text" />
                <div
                    *ngIf="contactForm.controls['firstName'].invalid && (contactForm.controls['firstName'].dirty || contactForm.controls['firstName'].touched)" class="text-danger">
                    Error</div>
            </label>
            <label class="col-lg-6">
                <input class="w-100" placeholder="Last Name" formControlName="lastName" type="text" />
                <div
                    *ngIf="contactForm.controls['lastName'].invalid && (contactForm.controls['lastName'].dirty || contactForm.controls['lastName'].touched)" class="text-danger">
                    Error</div>
            </label>
            <label  class="col-lg-6">
                <input class="w-100" placeholder="Email Address" formControlName="emailAddress" type="email" />
                <div
                    *ngIf="contactForm.controls['emailAddress'].invalid && (contactForm.controls['emailAddress'].dirty || contactForm.controls['emailAddress'].touched)" class="text-danger">
                    Error</div>
            </label>
            <label class="col-lg-6">
                <input class="w-100" placeholder="Phone Number" formControlName="phoneNumber" type="text" />
                <div
                    *ngIf="contactForm.controls['phoneNumber'].invalid && (contactForm.controls['phoneNumber'].dirty || contactForm.controls['phoneNumber'].touched)" class="text-danger">
                    Error</div>
            </label>
            <textarea width="100%" height="100%" placeholder="Tell us about your case..." formControlName="message"></textarea>
            <button type="submit" class="bg-victory-gold text-white">REQUEST YOUR FREE CONSULTATION</button>
        </form>
    </div>
</section>